<!DOCTYPE html>
<html>
<head>
    <title>Create Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Create Blog</h2>

<div class="form-container">

<form method="POST" action="/blogs">

<label>Title</label>
<input name="title" required>

<label>Content</label>
<textarea name="content" required></textarea>

<label>Author</label>
<input name="author">

<button>Create Blog</button>

</form>

</div>

</body>
</html>